@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --roboto:'Roboto', sans-serif;
    --Bebas:'Bebas Neue', cursive;
}
.nav-text{
    color: #3C3C3C !important;
    font-family:var(--roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
}
.banner-text{
    font-family: var(--Bebas);
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 2px;
}
.btn-color{
    background-color: #3D4FF3;
}
.btn-text{
    color: #FFFFFF !important;
    font-family:var(--roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
}